<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAP Concur</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    <header>
        <div class="logo">
            <div class="inner">
                <div class="logo_img">
                    <img src="./images/logo_right.png" alt="">
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="title">
                <div><img src="./리소스/타이틀.png" alt=""></div>
                <div><img src="./리소스/소스1.png" alt=""></div>
                <div><img src="./리소스/소스2.png" alt=""></div>
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="#">인사말</a></li>
            <li><a href="#">연사</a></li>
            <li><a href="#">아젠다</a></li>
            <li><a href="#">후원사</a></li>
            <li><a href="#">이벤트/행사안내</a></li>
        </ul>
    </nav>
    <main>
        <section id="about">
            <div class="inner">
                <h4>인사말
                </h4>
                <p>Zero Emission, Zero Waste, Sustainability Business Travel</p>
                <p>미래의 지속 가능한 비즈니스 출장! 엔데믹 시기를 맞아 재개된 기업 출장, 분명 새로운 패러다임을 제시해야 합니다.
                    기업 출장자들은 ESG 철학 근간인 환경, 사회적 책임, 거버넌스에 기반한 “지속 가능한” 출장 방식에 변화를 기대하고 있습니다. 글로벌 순환 경제에 따른 출장 트렌드 흐름과
                    트래블 테크 기반의 투명한 거버넌스 구축까지, 올해도 어김없이 출장 업계 전문가를 초빙해 진행되는 10월 13일 오후 1시, SAP Concur Summit, Seoul에서 확인해
                    보세요.</p>
                <p>특히 이번 행사에서는 트렌드 코리아 저자, 서울대학교 김난도 교수를 모시고 행사 당일 발간하는 2023년 대한민국 트렌드코리아 소개와 트래블 테크 등 디지털 ESG 플랫폼에 대한
                    최신의 업계 동향도 살펴봅니다.</p>
            </div>
        </section>
        <section id="speaker">
            <div class="inner">

                <h4>연사</h4>
                <h6>메인 세션</h6>
                <div class="speaker_title">외부 연사 : SAP</div>
                <ul>
                    <li>
                        <img src="./리소스/스피커이미지/speaker_01.png" alt="">
                    </li>
                </ul>
                <div class="speaker_title">전문가 패널 : SAP</div>
                <ul>
                    <li>
                        <img src="./리소스/스피커이미지/speaker_02.png" alt="">
                        <div class="cell">
                            <span>
                                <b>Sushant Jain</b>
                                <p>VP of Spend Management SAP APJ</p>
                            </span>
                        </div>
                    </li>
                    <li>
                        <img src="./리소스/스피커이미지/speaker_03.png" alt="">
                        <div class="cell">
                            <span>
                                <b>Sushant Jain</b>
                                <p>VP of Spend Management SAP APJ</p>
                            </span>
                        </div>
                    </li>
                    <li>
                        <img src="./리소스/스피커이미지/speaker_04.png" alt="">
                        <div class="cell">
                            <span>
                                <b>Sushant Jain</b>
                                <p>VP of Spend Management SAP APJ</p>
                            </span>
                        </div>
                    </li>
                    <li>
                        <img src="./리소스/스피커이미지/speaker_05.png" alt="">
                        <div class="cell">
                            <span>
                                <b>Sushant Jain</b>
                                <p>VP of Spend Management SAP APJ</p>
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="speaker_title">외부 연사 : 2023 SAP</div>
                <ul>
                    <li>
                        <img src="./리소스/스피커이미지/speaker_06.png" alt="">
                        <div class="cell">
                            <span>
                                <b>Sushant Jain</b>
                                <p>VP of Spend Management SAP APJ</p>
                            </span>
                        </div>
                    </li>
                    <li>
                        <img src="./리소스/스피커이미지/speaker_07.png" alt="">
                        <div class="cell">
                            <span>
                                <b>Sushant Jain</b>
                                <p>VP of Spend Management SAP APJ</p>
                            </span>
                        </div>
                    </li>
                    <li>
                        <img src="./리소스/스피커이미지/speaker_08.png" alt="">
                        <div class="cell">
                            <span>
                                <b>Sushant Jain</b>
                                <p>VP of Spend Management SAP APJ</p>
                            </span>
                        </div>
                    </li>
                </ul>
                <h6>메인 세션</h6>
                <div class="speaker_title">웹투어</div>
                <ul>
                    <li>
                        <img src="./리소스/스피커이미지/speaker_01.png" alt="">
                        <div class="cell">
                            <span>
                                <b>Sushant Jain</b>
                                <p>VP of Spend Management SAP APJ</p>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="agenda">
            <div class="inner">
                <h4>아젠다</h4>

                <table class="agtb">
                    <tbody>
                        <tr>
                            <th>
                                <div class="tbox"><span>Time</span></div>
                            </th>
                            <th>
                                <div class="tbox ntbox">
                                    <dt class="wid100">Session / Speaker</dt>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td><span>13:30 - 14:00</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>등록</dt>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>14:00 - 14:05</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>환영인사</dt>
                                    <dd>Sushant Jain / VP of Spend Management, SAP APJ</dd>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>14:05 - 14:35</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>키노트 I: 글로벌 기업의 통합 지출 관리 트렌드</dt>
                                    <dd>Sushant Jain / VP of Spend Management, SAP APJ |<br>Thomas Mehlkopf / General
                                        Manager & Head of Working Capital Management
                                        CoE, SAP Global</dd>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>14:35 - 14:50</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>고객 사례: 통합 지출 관리의 효율을 높이는 SAP의 힘</dt>
                                    <dd>Doosan Bobcat</dd>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>14:50 - 15:35</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>외부 강연: 불확실한 2024년, 국내외 경제 상황 예측 및 비즈니스 전망</dt>
                                    <dd>김동환 / 대표이사, 3pro TV</dd>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>15:35 - 15:55</span></td>
                            <td>
                                <div class="tbox  ntbox key1">
                                    <dt>키노트 II: AI, 통합 지출 관리의 Game Changer</dt><img src="images/arrow22.png" class="img"
                                        style="transform: rotate(180deg);">
                                    <dd>
                                        Christoph Guettinger / Regional VP, Head of LoB Customer Advisory, SAP APJ
                                    </dd>
                                    <div class="clearfix"></div>
                                    <div class="add_info view5" style="display: block;">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
                                        consequatur voluptatibus, optio obcaecati impedit excepturi. Dolor repellat
                                        exercitationem ab blanditiis aliquam enim quibusdam optio, aperiam officia vel
                                        laboriosam perspiciatis eos.
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>15:55 - 16:15</span></td>
                            <td>
                                <div class="tbox  ntbox  key2">
                                    <dt>커피브레이크 & 전시 부스 관람</dt>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>16:15 - 16:45</span></td>
                            <td>
                                <div class="tbox  ntbox key3">
                                    <dt>미리 보는 Evolve of Concur Travel을 통한 출장 및 경비 프로세스의 패러다임 변화와 미래 발전방향</dt><img
                                        src="images/arrow22.png" class="img">
                                    <dd>Mr. Tim Lebel / Vice President and Head of Spend Products at SAP Concur</dd>
                                    <div class="add_info view5">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae excepturi
                                        quam iusto obcaecati maiores nemo sed autem perferendis. Repudiandae vel debitis
                                        iusto voluptas aliquam iste fugit. Quae nisi recusandae vel!
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><span>16:45 - 17:05</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>인텔리전트 출장 경비 절감 적용 사례: 컨커와 웹 투어 서비스를 통한 국내 출장 관리 최적화</dt>
                                    <dd>노지연 / 팀장 ,웹투어</dd>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>17:05 - 17:35</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>고객패널: 불확실성 속에서 현명한 지출관리의 한계점과 극복방안 논의</dt>
                                    <dd>강지훈 부문장 / SAP Concur</dd>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>17:35 - 17:55</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>제조업을 위한 비즈니스 네트워크를 통한 통합 지출 관리 전략</dt>
                                    <dd>Blatt Valerie or Greg mekjan or Tony harris</dd>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>17:55 - 18:15</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>미래 경쟁력 확보를 위한 운전자본 최적화</dt>
                                    <dd>Steve Scott(from Taulia), Thomas Mehlkopf<br>
                                        Panel coversation SAP APJ Business Development Working Capital Management
                                        CoE</dd>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>18:15 - 18:20</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>1부 행사 종료</dt>
                                    <dd>강지훈 부문장, SAP Korea</dd>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>18:20 - 19:00</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>2부 저녁 식사</dt>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>19:00 -</span></td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>경품 추첨</dt>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 20:00</span>
                            </td>
                            <td>
                                <div class="tbox  ntbox">
                                    <dt>2부 저녁 식사</dt>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <div class="inner">
                <h4>후원사</h4>

            </div>
        </section>
        <section id="event">
            <div class="inner">
                <label>이벤트</label>
                <ul>
                    <li>
                        <dt>럭키드로우 인벤트 1</dt>
                        <dd>사전등록 후, 참가하시는 모든 분들 대상으로
                            에어캐나다 프리미어급 캐나다 왕복 항공권 을
                            경품 추천권을 제공합 니다.</dd>
                    </li>
                    <li>
                        <dt>얼리버드 이벤트</dt>
                        <dd>사전등록 후 컨퍼런스에 끝까지 참석하시는
                            50분께 선착순으로 “대한민국 부당거래 ”를
                            드립니다.
                        </dd>
                        <img src="./리소스/책.png" alt="">
                    </li>
                    <li>
                        <dt>참석자 기념품</dt>
                        <dd>사전등록 후 참석하시는 200분에게
                            트래블 파우치 를 드립니다.</dd>
                        <img src="./리소스/트래블파우치.png" alt="">
                    </li>
                    <li>
                        <dt>럭키드로우 인벤트 2</dt>
                        <dd>행사 당일 컨퍼러스에 참석하시는 분들 중
                            5분을 추첨하여 여행용 캐리어 를
                            경품으로 드립니다.</dd>
                        <img src="./리소스/캐리어.png" alt="">
                    </li>
                </ul>
                <label>행사안내</label>
                <label>문의하기</label>
            </div>
        </section>
        <section>
            <div class="inner">
                <h4>오시는 길</h4>


                <!-- * 카카오맵 - 지도퍼가기 -->
                <!-- 1. 지도 노드 -->
                <div id="daumRoughmapContainer1696818382924" class="root_daum_roughmap root_daum_roughmap_landing">
                </div>

                <!--
                    2. 설치 스크립트
                    * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
                -->
                <script charset="UTF-8" class="daum_roughmap_loader_script"
                    src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

                <!-- 3. 실행 스크립트 -->
                <script charset="UTF-8">
                    new daum.roughmap.Lander({
                        "timestamp": "1696818382924",
                        "key": "2ge3a",
                        "mapWidth": "100%",
                        "mapHeight": "500"
                    }).render();
                </script>
            </div>
        </section>
    </main>
    <footer>
        <div class="inner">
            &copy; Copyright 2023 Concur Technologies, Inc &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="https://www.concur.kr/privacy-policy" target="_blank" style="color:#fff">개인정보보호정책</a>
        </div>
    </footer>
    <script>
        AOS.init();
    </script>
</body>

</html>