<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAP Spend Management Summit, Seoul</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico" />
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="sticky-container">
        <header>
            <div class="header-container">
                <div class="inner">
                    <div class="logo" data-aos="fade-left" data-aos-duration="1000">
                        <h1><a href=""><img src="/images/logo.png" alt=""></a></h1>                        
                    </div>
                    <div class="title">
                        <div data-aos="fade-right"><img id="title01" src="/images/title1.png" alt=""></div>
                        <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000"><img id="title02" src="/images/title2.png" alt=""></div>
                        <div data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                            <a id="regiLink" href="https://event.keystonellc.kr/registrations/SAP_1121_SAP_Spend_Management_Summit,Seoul/"
                            target="_blank">
                                <div class="regi_btn-container">
                                    <div class="btn_bg"></div>
                                    <div class="regi_btn">행사 등록 하기</div>
                                    <!-- <img src="/images/title3.png" alt=""> -->
                                </div>
                            </a>
                        </div>
                        <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">2023년 11월 21일 13:30 - 20:00 | 노보텔 강남 엠배서더 2F 샴페인홀</div>
                    </div>
                </div>
            </div>        
        </header>
        <nav>
            <ul class="gnb">
                <li><a href="#" class="pageLink" data-url="https://sapspendmanagement.com/#about">인사말</a></li>
                <li><a href="#" class="pageLink" data-url="https://sapspendmanagement.com/#speaker">연사</a></li>
                <li><a href="#" class="pageLink" data-url="https://sapspendmanagement.com/#agenda">아젠다</a></li>
                <li><a href="#" class="pageLink" data-url="https://sapspendmanagement.com/#sponsor">후원사</a></li>
                <li><a href="#" class="pageLink" data-url="https://sapspendmanagement.com/#event">이벤트/행사안내</a></li>
                <li><a href="#conference">행사 둘러보기</a></li>
            </ul>
        </nav>
        <main>
            <section id="conference">
                <div class="inner">
                    <h4 data-aos="fade-up">지난 행사 둘러보기</h4>
                    
                    <ul class="link">
                        <li class="blue"><a href="#conference">2023년 행사 둘러보기</a></li>
                        <li class="blue"><a href="https://www.sapconcursummit.com/conference.php" target="_blank">2022년 행사 둘러보기</a></li>
                        <li class="blue"><a href="https://2021.sapconcursummit.com/" target="_blank">2021년 행사 둘러보기</a></li>
                        <li class="blue"><a href="https://www.sapconcursummit.com/2020/" target="_blank">2020년 행사 둘러보기</a></li>
                        <li class="blue"><a href="https://www.sapconcursummit.com/2019/" target="_blank">2019년 행사 둘러보기</a></li>
                        <li class="blue"><a href="https://www.sapconcursummit.com/2018/" target="_blank">2018년 행사 둘러보기</a></li>
                    </ul>

                    <div class="clearfix"></div>
                    <h5><span>불확실성의 한계를 뛰어넘는 인텔리전트 지출 혁신</span>
                        <div class="clearfix"></div>
                    </h5>
                    <div class="clearfix"></div>
                    <div class="contaner">
                        <div class="video">
                            <iframe width="1280" height="720" src="https://www.youtube.com/embed/3U6osTgObto"
                                title="SAP Spend Management Summit Seoul 행사 하이라이트 영상" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="inner">
                &copy; SAP Spend Management Summit, Seoul &nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="https://www.sap.com/korea/about/legal/privacy.html" target="_blank" style="color:#fff">개인정보보호정책</a>
            </div>
        </footer>
    </div>
    <script>
        AOS.init();
    </script>
    <script src="/js/index.js"></script>
</body>

</html>